<div>

  <h1 class="text-center" mat-dialog-title>Novo Album</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="albums-form">

      <mat-form-field class="full-width">
        <input type="text" matInput name="album.name" [(ngModel)]="album.name" placeholder="Nome do Album"
               [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Nome é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="text" matInput name="album.artist" [(ngModel)]="album.artist" placeholder="Artista do Album"
               [formControl]="artistFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="artistFormControl.hasError('required')">
          Artista é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="tel" matInput name="album.year" [(ngModel)]="album.year" placeholder="Ano do Album"
               [formControl]="yearFormControl"[formControl]="yearFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="yearFormControl.hasError('pattern') && !yearFormControl.hasError('required')">
          Valor inválido!
        </mat-error>
        <mat-error *ngIf="yearFormControl.hasError('required')">
          Ano é obrigatório!
        </mat-error>

      </mat-form-field>

      <mat-form-field *ngFor="let item of album.tracks; let position = index">

        <mat-select *ngIf="album.tracks" name="album.tracks[position]" [(ngModel)]="album.tracks[position]">
          <mat-option *ngFor="let track of tracks" [value]="track">
            {{ track.name }}
          </mat-option>
        </mat-select>

      </mat-form-field>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="addTrack()">Adicionar Múscia Ao Album</button>
  </div>

  <div mat-dialog-actions class="flex-center">

    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button
      [disabled]="
          nameFormControl.hasError('required')
          || artistFormControl.hasError('required')
          || yearFormControl.hasError('pattern')
          || yearFormControl.hasError('required')"
      mat-raised-button color="primary" [mat-dialog-close]="album">Confirmar</button>
  </div>

</div>
