<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Realmente Desejo Remover Esse Favorito</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="favorites-form">

      <mat-list>

        <div *ngIf="data.type === 'track'">
          <mat-list-item>
            <strong>ID:</strong>
            <p>{{ favorite._id }}</p>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Nome:</strong>
            <p>{{ favorite.name }}</p>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Duração:</strong>
            <p>{{ favorite.duration/60 + ' min' }}</p>
          </mat-list-item>

          <mat-divider></mat-divider>
        </div>

        <div *ngIf="data.type === 'album'">

          <mat-list-item>
            <strong>ID:</strong>
            <p>{{ favorite._id }}</p>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Nome de Album:</strong>
            <p>{{ favorite.name }}</p>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item>
            <strong>Artista:</strong>
            <p>{{ favorite.artist}}</p>
          </mat-list-item>

          <!--<mat-divider></mat-divider>-->

          <!--<mat-list-item>-->
          <!--<strong>Ano:</strong>-->
          <!--<p>{{ favorite.year}}</p>-->
          <!--</mat-list-item>-->

          <!--<mat-divider></mat-divider>-->

          <!--<mat-list-item>-->
          <!--<strong>Músicas: </strong>-->
          <!--</mat-list-item>-->

          <!--<ul *ngFor="let track of favorite.tracks">-->
          <!--<li> {{ track.name }} </li>-->
          <!--</ul>-->

          <mat-divider></mat-divider>

        </div>

      </mat-list>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="favorite">Remover</button>
  </div>

</div>
