<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Detalhes</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="tracks-form">

      <mat-list>

        <mat-list-item>
          <strong>ID:</strong>
          <p>{{ data.track._id }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Nome:</strong>
          <p>{{ data.track.name }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Duração:</strong>
          <p>{{ data.track.duration/60 + ' min' }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

      </mat-list>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onOkClick()">OK</button>
  </div>

</div>
