<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Realmente Desejo Deletar Essa Usuário</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="users-form">

      <mat-list>

        <mat-list-item>
          <strong>ID:</strong>
          <p>{{ user._id }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Nome:</strong>
          <p>{{ user.name }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Nome de Usuário:</strong>
          <p>{{ user.username}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Email:</strong>
          <p>{{ user.email}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Data de Nascimento:</strong>
          <p>{{ user.birthDate}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Sexo:</strong>
          <p>{{ user.sex === 'm' ? "Masculino" : "Feminino" }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

      </mat-list>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="user">Deletar</button>
  </div>

</div>
