.users-card {
  margin: 80px;
  width: 90%;
}
@media (max-width: 800px) {
  .users-card {
    margin: 10px;
  }
}

.users-form {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  text-align: center
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-button {
  min-width: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.list-content{
  width: 60%;
}
@media (max-width: 800px) {
  .actions{
    display: none;
  }
  .list-content{
    width: 100%;
  }
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

mat-paginator{
  margin-bottom: 120px;
}

.fab {
  position: fixed;
  top: 85%;
  right: 10%;
}
