<div class="flex-center">

  <mat-card class="users-card ">

    <mat-card-content>

      <form class="users-form">

        <h1 class="text-center">Usuários</h1>

        <mat-list>

          <div *ngFor="let user of users; let position = index" class="">

            <mat-list-item>

              <p (click)="openUsersActionDialog(user)" class="list-content">{{user.name}} - {{user.email}}</p>

              <div class="fill-remaining-space"></div>

              <div class="actions">

                <button mat-button>
                  <mat-icon (click)="openUsersDetailsDialog(user)">info</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openUsersEditDialog(user)">mode_edit</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openUsersConfirmDeleteDialog(user)">delete_forever</mat-icon>
                </button>

              </div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

        </mat-list>

        <mat-paginator [length]="1000"
                       [pageSize]="limit"
                       (page)="onPageChange($event)">
        </mat-paginator>

      </form>

      <div class="fab">
        <button mat-fab>
          <mat-icon (click)="openUsersCreateDialog()">add</mat-icon>
        </button>
      </div>

    </mat-card-content>

  </mat-card>

</div>
