<div class="flex-center">

  <mat-card class="users-card ">

    <mat-card-content>

      <form class="users-form">

        <h1 class="text-center">Favoritos</h1>

        <mat-form-field class="full-width">
          <input type="text" matInput name="search" (ngModelChange)="search()" [(ngModel)]="searchLike" placeholder="Pesquisar">
        </mat-form-field>

        <mat-list>

          <div *ngFor="let album of albums; let position = index" class="">

            <mat-list-item>

              <p (click)="openFavoritesActionDialog(album, 'album')" class="list-content">{{ "Album - " + album.name}} - {{album.artist}}</p>

              <div class="fill-remaining-space"></div>

              <div class="actions">

                <button mat-button>
                  <mat-icon (click)="openFavoritesDetailsDialog(album,'album')">info</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openFavoritesConfirmDeleteDialog(album,'album')">delete_forever</mat-icon>
                </button>

              </div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

          <div *ngFor="let track of tracks; let position = index" class="">

            <mat-list-item>

              <p (click)="openFavoritesActionDialog(track, 'track')" class="list-content">{{"Música - " +  track.name}} - {{track.duration/60}} min</p>

              <div class="fill-remaining-space"></div>

              <div class="actions">

                <button mat-button>
                  <mat-icon (click)="openFavoritesDetailsDialog(track, 'track')">info</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openFavoritesConfirmDeleteDialog(track ,'track')">delete_forever</mat-icon>
                </button>

              </div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

        </mat-list>

      </form>

      <div class="fab">
        <button mat-fab>
          <mat-icon (click)="openFavoritesCreateDialog()">add</mat-icon>
        </button>
      </div>

    </mat-card-content>

  </mat-card>

</div>
