.users-card {
  margin: 80px;
  width: 90%;
}
@media (max-width: 800px) {
  .users-card {
    margin: 10px;
  }
}

.users-form {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-content{
  width: 60%;
}
@media (max-width: 800px) {
  .actions{
    display: none;
  }
  .list-content{
    width: 100%;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.fab {
  position: fixed;
  top: 85%;
  right: 10%;
}

.full-width {
  width: 100%;
}
