<div class="flex-center">

  <mat-card class="login-card ">

    <mat-card-content>

      <div class="button-row">
        <img class="login-img" src="/assets/giganet.png" alt="GigaNet">
      </div>

      <form class="login-form">

        <h1 class="text-center">Login</h1>

        <mat-form-field class="login-full-width">
          <input type="email" matInput name="auth.email" [(ngModel)]="auth.email" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="login-full-width">
          <input type="password" matInput name="auth.password" [(ngModel)]="auth.password" placeholder="Senha">
        </mat-form-field>

        <div class="flex-center">
          <button  mat-raised-button color="primary" (click)="onSubmit()">ENVIAR</button>
        </div>

      </form>

    </mat-card-content>

  </mat-card>

</div>
