.login-card {
  margin: 80px;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 800px) {
  .login-card {
    margin: 10px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-center {
  text-align: center
}

.login-form {
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.login-img {
  width: 100%;
  max-width: 434px;
  height: auto;
}
