<div class="flex-center">

  <mat-card class="tracks-card ">

    <mat-card-content>

      <form class="tracks-form">

        <h1 class="text-center">Músicas</h1>

        <mat-list>

          <div *ngFor="let track of tracks; let position = index" class="">

            <mat-list-item>

              <p (click)="openTracksActionDialog(track)" class="list-content">{{track.name}} - {{track.duration/60}} min</p>

              <div class="fill-remaining-space"></div>

              <div class="actions">

                <button mat-button>
                  <mat-icon (click)="openTracksDetailsDialog(track)">info</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openTracksEditDialog(track)">mode_edit</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openTracksConfirmDeleteDialog(track)">delete_forever</mat-icon>
                </button>

                <!--<button mat-button>-->
                <!--<mat-icon>favorite</mat-icon>-->
                <!--</button>-->

                <!--<button mat-button>-->
                <!--<mat-icon>favorite_border</mat-icon>-->
                <!--</button>-->

              </div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

        </mat-list>

        <mat-paginator [length]="1000"
                       [pageSize]="limit"
                       (page)="onPageChange($event)">
        </mat-paginator>

      </form>

      <div class="fab">
        <button mat-fab>
          <mat-icon (click)="openTracksCreateDialog()">add</mat-icon>
        </button>
      </div>

    </mat-card-content>

  </mat-card>

</div>
