<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Detalhes</h1>

  <div mat-dialog-content class="flex-center" >
    <button mat-raised-button color="primary"  [mat-dialog-close]="INFO">
      <mat-icon>info</mat-icon>
      Detalhes
    </button>
  </div>

  <div mat-dialog-content class="flex-center" >
    <button mat-raised-button color="primary" [mat-dialog-close]="EDIT">
      <mat-icon >mode_edit</mat-icon>
      Editar
    </button>
  </div>

  <div mat-dialog-content class="flex-center" >
    <button mat-raised-button color="primary"  [mat-dialog-close]="DELETE">
      <mat-icon>delete_forever</mat-icon>
      Deletar
    </button>
  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
  </div>

</div>
