<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Realmente Deleja Deletar Esse Album</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="albums-form">

      <mat-list>

        <mat-list-item>
          <strong>ID:</strong>
          <p>{{ album._id }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Nome de Album:</strong>
          <p>{{ album.name }}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Artista:</strong>
          <p>{{ album.artist}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Ano:</strong>
          <p>{{ album.year}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <strong>Músicas: </strong>
        </mat-list-item>

        <ul *ngFor="let track of album.tracks">
          <li> {{ track.name }} </li>
        </ul>

        <mat-divider></mat-divider>


      </mat-list>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="album">Deletar</button>
  </div>

</div>
