.users-card {
  margin: 80px;
  width: 90%;
}
@media (max-width: 800px) {
  .users-card {
    margin: 10px;
  }
}

.users-form {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
