<div class="flex-center">

  <mat-card class="users-card ">

    <mat-card-content>

      <form class="users-form">

        <h1 class="text-center">Albuns e Músicas Preferidos Pelos Usuários</h1>

        <mat-list>

          <div *ngFor="let album of albums; let position = index" class="">

            <mat-list-item>

              <p class="list-content">{{ "Album - " + album.name}} - {{album.artist}}</p>

              <div class="fill-remaining-space"></div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

          <div *ngFor="let track of tracks; let position = index" class="">

            <mat-list-item>

              <p class="list-content">{{"Música - " +  track.name}} - {{track.duration/60}} min</p>

              <div class="fill-remaining-space"></div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

        </mat-list>

      </form>

    </mat-card-content>

  </mat-card>

</div>
