<div>

  <h1 class="text-center" mat-dialog-title>Editar Usuário</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="users-form">

      <mat-form-field class="full-width">
        <input type="text" matInput name="user.name" [(ngModel)]="user.name" placeholder="Nome do Usuário"
               [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Nome é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput name="user.password" [(ngModel)]="user.password" placeholder="Senha do Usuário"
               [formControl]="userPasswordFormControl"[errorStateMatcher]="matcher">
        <mat-error *ngIf="userPasswordFormControl.hasError('minlength') && !userPasswordFormControl.hasError('required')">
          A senha deve possuir no mínimo 8 caracteres!
        </mat-error>
        <mat-error *ngIf="userPasswordFormControl.hasError('required')">
          Nome é obrigatório!
        </mat-error>
      </mat-form-field>

      <div class="full-width">
        <label class="label-radio">Sexo:</label>
        <mat-radio-group [(ngModel)]="user.sex" name="user.sex" [formControl]="sexFormControl">
          <mat-radio-button value="m">Masculino</mat-radio-button>
          <mat-radio-button value="f">Feminino</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field class="full-width">
        <input type="text" matInput name="user.username" [(ngModel)]="user.username" placeholder="UserName do Usuário"
               [formControl]="usernameFormControl"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          UserName é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          type="tel" matInput name="user.email" [(ngModel)]="user.email" placeholder="Email do Usuário"
          [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
          Email inválido!
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Email é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="tel"
               appMask="99/99/9999"
               matInput name="user.birthDate" [(ngModel)]="user.birthDate" placeholder="Data de Nascimento do Usuário"
               [formControl]="birthDateFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="birthDateFormControl.hasError('minlength') && !birthDateFormControl.hasError('required')">
          Data inválida!
        </mat-error>
        <mat-error *ngIf="birthDateFormControl.hasError('required')">
          Data de Nascimento é obrigatória!
        </mat-error>
      </mat-form-field>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button
      [disabled]="
          nameFormControl.hasError('required')
          || userPasswordFormControl.hasError('minlength')
          || userPasswordFormControl.hasError('required')
          || sexFormControl.hasError('required')
          || usernameFormControl.hasError('required')
          || birthDateFormControl.hasError('required')
          || birthDateFormControl.hasError('minlength')
          || emailFormControl.hasError('pattern')
          || emailFormControl.hasError('required')"
      mat-raised-button color="primary" [mat-dialog-close]="user">Confirmar</button>
  </div>

</div>
