<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Nova Música</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="tracks-form">

      <mat-form-field class="full-width">
        <input type="text" matInput name="track.name" [(ngModel)]="track.name" placeholder="Nome da Música"
               [formControl]="nameFormControl"[formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Nome é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          type="tel" matInput name="track.duration" [(ngModel)]="track.duration" placeholder="Duração da Música em Segundos"
          [formControl]="durationFormControl"[formControl]="durationFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="durationFormControl.hasError('pattern') && !durationFormControl.hasError('required')">
          Valor inválido!
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Duração é obrigatória!
        </mat-error>
      </mat-form-field>

    </form>

  </div>

  <div mat-dialog-actions class="flex-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button
      [disabled]="
          nameFormControl.hasError('required')
          || durationFormControl.hasError('pattern')
          || durationFormControl.hasError('required')"
      mat-raised-button color="primary" [mat-dialog-close]="track">Confirmar</button>
  </div>

</div>
