<div class="flex-center">

  <mat-card class="albums-card ">

    <mat-card-content>

      <form class="albums-form">

        <h1 class="text-center">Albuns</h1>

        <mat-list>

          <div *ngFor="let album of albums; let position = index" class="">

            <mat-list-item>

              <p (click)="openAlbumsActionDialog(album)" class="list-content">{{album.name}} - {{album.artist}}</p>

              <div class="fill-remaining-space"></div>

              <div class="actions">

                <button mat-button>
                  <mat-icon (click)="openAlbumsDetailsDialog(album)">info</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openAlbumsEditDialog(album)">mode_edit</mat-icon>
                </button>

                <button mat-button>
                  <mat-icon (click)="openAlbumsConfirmDeleteDialog(album)">delete_forever</mat-icon>
                </button>

              </div>

              <mat-divider></mat-divider>

            </mat-list-item>

          </div>

        </mat-list>

        <mat-paginator [length]="1000"
                       [pageSize]="limit"
                       (page)="onPageChange($event)">
        </mat-paginator>

      </form>

      <div class="fab">
        <button mat-fab>
          <mat-icon (click)="openAlbumsCreateDialog()">add</mat-icon>
        </button>
      </div>

    </mat-card-content>

  </mat-card>

</div>
