<div class="text-center" >

  <h1 class="text-center" mat-dialog-title>Novo Favorito</h1>

  <div mat-dialog-content class="flex-center" >

    <form class="data.favorites-form">

      <label class="label-select">Tipo de Favorito:</label>

      <mat-form-field>
        <mat-select name="data.type" [(ngModel)]="data.type">
          <mat-option value="track">
            Música
          </mat-option>
          <mat-option value="album">
            Album
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="data.type === 'track'">

        <label class="label-select">Música:</label>

        <mat-form-field>

          <mat-select name="data.favorite[0]" [(ngModel)]="data.favorite[0]">
            <mat-option *ngFor="let track of tracks" [value]="track">
              {{ track.name }}
            </mat-option>
          </mat-select>

        </mat-form-field>


      </div>

      <div *ngIf="data.type === 'album'">

        <label class="label-select">Album:</label>

        <mat-form-field>

          <mat-select name="data.favorite[0]" [(ngModel)]="data.favorite[0]">
            <mat-option *ngFor="let album of albums" [value]="album">
              {{ album.name }}
            </mat-option>
          </mat-select>

        </mat-form-field>

      </div>

    </form>

  </div>

  <div *ngIf="data.type === 'track'">
    <div mat-dialog-actions class="flex-center">
      <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data">Confirmar</button>
    </div>
  </div>

  <div *ngIf="data.type === 'album'">
    <div mat-dialog-actions class="flex-center">

      <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data">Confirmar</button>
    </div>
  </div>


</div>
