.text-center {
  text-align: center
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.albums-form {
  width: 100%;
}

p{
  padding: 5px;
}

.full-width {
  width: 100%;
}

.label-radio{
  font-size: 19px;
}
