<nav mat-tab-nav-bar>

  <a mat-tab-link
     [routerLink]="'/app/albums'"
     routerLinkActive #rlalbums="routerLinkActive"
     [active]="rlalbums.isActive">
    Albuns
  </a>

  <a mat-tab-link
     [routerLink]="'/app/tracks'"
     routerLinkActive #rltracks="routerLinkActive"
     [active]="rltracks.isActive">
    Faixas
  </a>

  <a mat-tab-link
     [routerLink]="'/app/users'"
     routerLinkActive #rlusers="routerLinkActive"
     [active]="rlusers.isActive">
    Usuários
  </a>

  <a mat-tab-link
     [routerLink]="'/app/favorites'"
     routerLinkActive #rlfavorites="routerLinkActive"
     [active]="rlfavorites.isActive">
    Favoritos
  </a>


  <a mat-tab-link
     [routerLink]="'/app/top'"
     routerLinkActive #rltop="routerLinkActive"
     [active]="rltop.isActive">
    Top
  </a>

</nav>

<router-outlet></router-outlet>

<!--<mat-sidenav-container class="drawer-container" >-->

  <!--<mat-sidenav class="sidebar" mode="side" opened>-->

    <!--&lt;!&ndash;<img class="drawer-img" src="/assets/images/drawer-cover.png" alt="Drawer Image">&ndash;&gt;-->

    <!--<mat-list>-->

      <!--<mat-list-item (click)="routerNavigate('/app/users')">Usuários</mat-list-item>-->

      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item (click)="routerNavigate('/app/albums')">Albuns</mat-list-item>-->

      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item (click)="routerNavigate('/app/tracks')">Faixas</mat-list-item>-->

      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item (click)="routerNavigate('/app/favorites')">Favoritos</mat-list-item>-->

      <!--<mat-divider></mat-divider>-->

      <!--<mat-list-item (click)="routerNavigate('/app/top')">Top</mat-list-item>-->

      <!--<mat-divider></mat-divider>-->

    <!--</mat-list>-->

  <!--</mat-sidenav>-->

  <!--<mat-sidenav-content>-->

    <!--<router-outlet></router-outlet>-->

  <!--</mat-sidenav-content>-->

<!--</mat-sidenav-container>-->
